<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhongchen.bsitemprovider.mapper.GoodsVoMapper">

    <resultMap id="goodsVoMap" type="com.liuhongchen.bscommondto.vo.GoodsVo">
        <id column="id" property="id" javaType="String" jdbcType="VARCHAR"/>
        <result column="bookId" property="bookId" javaType="String" jdbcType="VARCHAR"/>
        <result column="typeId" property="typeId" javaType="Integer" jdbcType="INTEGER"/>
        <result column="sellerId" property="sellerId" javaType="String" jdbcType="VARCHAR"/>
        <result column="buyerId" property="buyerId" javaType="String" jdbcType="VARCHAR"/>
        <result column="status" property="status" javaType="Integer" jdbcType="INTEGER"/>
        <result column="way" property="way" javaType="Integer" jdbcType="INTEGER"/>
        <result column="price" property="price" javaType="Double" jdbcType="DOUBLE"/>
        <result column="info" property="info" javaType="String" jdbcType="VARCHAR"/>
        <result column="address" property="address" javaType="String" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" javaType="Date" jdbcType="DATE"/>
        <result column="updateTime" property="updateTime" javaType="Date" jdbcType="DATE"/>
        <association property="bookinfo" javaType="com.liuhongchen.bscommonmodule.pojo.Book"
                     select="getBookById" column="bookId"/>
    </resultMap>


    <select id="getBookById" resultType="com.liuhongchen.bscommonmodule.pojo.Book" parameterType="String">
        select *
        from book
        where id=#{bookId}
    </select>

    <select id="getGoodsById" resultMap="goodsVoMap" parameterType="String">
        select
        id as id,
        bookId as bookId,
        typeId as typeId,
        price as price,
        way as way,
        info as info,
        createTime as createTime,
        updateTime as updateTime,
        status as status,
        sellerId as sellerId,
        buyerId as buyerId,
        address as address
        from goods
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>
    <select id="getGoodsByBookId" resultMap="goodsVoMap" parameterType="String">
        select *
        from goods
        where bookId=#{id}
    </select>
    <select id="getByIds" resultMap="goodsVoMap" parameterType="java.util.List">
        select *
        from goods
        where bookId in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="getNewGoodsVo" resultMap="goodsVoMap" parameterType="String">
        select
        id as id,
        bookId as bookId,
        typeId as typeId,
        price as price,
        way as way,
        info as info,
        createTime as createTime,
        updateTime as updateTime,
        status as status,
        sellerId as sellerId,
        buyerId as buyerId,
        address as address
        from goods
        order by createTime desc
        limit 6
    </select>
    <select id="getAllGoodsVo" resultMap="goodsVoMap">
        select
        id as id,
        bookId as bookId,
        typeId as typeId,
        price as price,
        way as way,
        info as info,
        createTime as createTime,
        updateTime as updateTime,
        status as status,
        sellerId as sellerId,
        buyerId as buyerId,
        address as address
        from goods
    </select>

    <select id="getGoodsListByMap" resultMap="goodsVoMap" parameterType="java.util.Map">
        select
        id as id,
        bookId as bookId,
        typeId as typeId,
        price as price,
        way as way,
        info as info,
        createTime as createTime,
        updateTime as updateTime,
        status as status,
        sellerId as sellerId,
        buyerId as buyerId,
        address as address
        from goods
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null and id!=''">
                and id=#{id}
            </if>
            <if test="bookId != null and bookId!=''">
                and bookId=#{bookId}
            </if>
            <if test="typeId != null and typeId!=''">
                and typeId=#{typeId}
            </if>
            <if test="price != null and price!=''">
                and price=#{price}
            </if>
            <if test="way != null and way!=''">
                and way=#{way}
            </if>
            <if test="info != null and info!=''">
                and info=#{info}
            </if>
            <if test="createTime != null and createTime!=''">
                and createTime=#{createTime}
            </if>
            <if test="updateTime != null and updateTime!=''">
                and updateTime=#{updateTime}
            </if>
            <if test="status != null and status!=''">
                and status=#{status}
            </if>
            <if test="sellerId != null and sellerId!=''">
                and sellerId=#{sellerId}
            </if>
            <if test="buyerId != null and buyerId!=''">
                and buyerId=#{buyerId}
            </if>
            <if test="address != null and address!=''">
                and address=#{address}
            </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>


</mapper>